<style>
body {
	background-color:
}
</style>
<div class="container">
	<div class="col-sm-3">
		<div class="container" ng-app="cmsApp" ng-controller="postController">
			<div class="form-group">
				<label class="control-label" for="postTitle">Category Title</label>
				<input type="text" ng-model="category.title" name="postTitle"
					class="form-control" placeholder="Category title"> <br>
				<input type="text" ng-model="category.description"
					name="postDescription" class="form-control"
					placeholder="Category Description"> <br> Is Admin only
				Category?
				<div class="radio">
					<label> <input ng-model="category.isAdminOnlyCategory"
						type="radio" name="optionsRadios" id="optionsRadios2" value="true">
						Yes
					</label>
				</div>
				<div class="radio">
					<label> <input ng-model="category.isAdminOnlyCategory"
						type="radio" name="optionsRadios" id="optionsRadios2"
						value="false"> No
					</label>
				</div>
				<button ng-click="updateCategory()" class="btn btn-primary">Update
					Category</button>
			</div>
		</div>
	</div>
	<div class="col-sm-9">

		<div class="container" ng-app="cmsApp" ng-controller="postController">
			<div ng-repeat="category in categories">
				<div class="col-sm-12 well" style="background-color: white">
					<span class="col-sm-3"> {{category.objectId}}</span> <span
						class="col-sm-4"> {{category.title}}</span> <span class="col-sm-2">
						{{category.isAdminOnlyCategory}}</span>
				</div>
			</div>
		</div>
	</div>

</div>
</div>

