<style>
body {
	background-color: white
}
</style>
<div class="container">
	<div class="col-sm-3">
		<div class="container" ng-app="cmsApp" ng-controller="postController">
			<div class="form-group">
				<label class="control-label" for="postTitle">Category Title</label>
				<input type="text" ng-model="category.title" name="postTitle"
					class="form-control" placeholder="Category title"> <br>
				<input type="text" ng-model="category.description"
					name="postDescription" class="form-control"
					placeholder="Category Description"> <br>
				<button ng-click="updateCategory()" class="btn btn-primary">Update
					Category</button>
			</div>
		</div>
	</div>
</div>

