<style>
.alert-things {
	background-color: white;
	color: black
}

.alert-things:HOVER {
	background-color: #A9E2F3;
}

.hide {
	display: none;
}

.approved {
	color: red;
}
</style>

<div class="container" ng-app="cmsApp">
	<div class="col-lg-12 well">
		<div class="col-lg-8">
			<h3 style="color: grey">Authors</h3>
		</div>
		<div class="col-lg-2"></div>
	</div>
	<div class="col-lg-12">
		<div ng-repeat="user in allUsers"
			ng-init="$last ? showFollowBtn() : null">
			<div class="bs-component col-lg-3">
				<div class="alert alert-dismissible alert-things"
					style="height: 200px; overflow: hidden;">
					<div class="mainInner"
						style="height: 130px; overflow: hidden; border-bottom: 1px solid grey;">
						<p>{{user.name}}</p>
						{{user.authorGroup}} <br>{{user.email}}
					</div>

					<div class="secondInner" style='padding-top: 10px'>
						<button id="followBtn_{{user.objectId}}"
							ng-click="followUser(user.objectId,user.name)"
							class="btn btn-primary  btn-sm">
							<i class="fa fa-plus"></i> Follow
						</button>

					</div>

					<div
						ng-repeat="obj in allUsers.followingProfiles | where:{objectId: user.objectId}"
						ng-init='$last ? showFollowBtn() : null'>
						<button id="unFollowBtn_{{user.objectId}}"
							ng-click="unFollowUser(user.objectId,user.name)"
							class="btn btn-link  btn-sm">
							<b>X</b> Un Follow
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
