<style>
</style>
<div class="container" ng-controller="profileController">
	<div class="col-sm-1"></div>
	<div class="col-sm-8 well">
		<fieldset>
			<legend>Profile</legend>
			<div class="form-group" style="display: none">
				<label for="inputEmail" class="col-lg-2 control-label">API</label>
				<div class="col-lg-10">
					<input type="text" disabled="disabled" ng-model="profile.objectId"
						value="id" class="form-control" id="id" placeholder="id">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="text" disabled="disabled" ng-model="profile.email"
						value="" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input type="text" ng-model="profile.name" value=""
						class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Unique
					Name</label>
				<div class="col-lg-10">
					<input type="text" ng-model="profile.uniqueName" value=""
						class="form-control" id="uniqueName"
						placeholder="Your Unique Name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Date
					of Birth </label>
				<div class="col-lg-10">
					<input type="text" ng-model="profile.dob" value=""
						class="form-control" id="dob" placeholder="dd/mm/yyyy">
				</div>
			</div>
			<div class="form-group">
				<label for="authorGroup" class="col-lg-2 control-label">Category
				</label>
				<div class="col-lg-10">
					<select class="form-control" ng-model="profile.authorGroup"
						id="authorGroup" name="authorGroup">
						<option value="Poet">Poet</option>
						<option value="Sports Person">Sports Person</option>
						<option value="Artist">Artist</option>
						<option value="Technician">Technician</option>
						<option value="Student">Student</option>
						<option value="Writer">Writer</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="aboutMe" class="col-lg-2 control-label">About me
				</label>
				<div class="col-lg-10">
					<textarea class="form-control" rows="3" id="aboutMe"
						ng-model="profile.aboutAuthor" maxlength="150"
						placeHolder="Brief about the Author"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Website
					URL</label>
				<div class="col-lg-10">
					<input type="text" ng-model="profile.website" value=""
						class="form-control" id="website"
						placeholder="http://www.padaipaligal.com">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Facebook
					URL</label>
				<div class="col-lg-10">
					<input type="text" ng-model="profile.fb" value=""
						class="form-control" id="fb"
						placeholder="http://facebook.com/padaipaligal">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Twitter
					URL</label>
				<div class="col-lg-10">
					<input type="text" ng-model="profile.twitter" value=""
						class="form-control" id="twitter"
						placeholder="http://twitter.com/padaipaligal">
				</div>
			</div>

		</fieldset>
		<br>
		<center>
			<button ng-click="updateProfile()" class="btn btn-primary">
				<i class="fa fa-check"></i> Save Profile
			</button>
		</center>
	</div>
	<div class="col-sm-2">
		<fieldset>
			<br>
			<div class="form-group">
				<form method="post" id="pictureUploadForm">
					<label class="btn btn-warning" for="profilePic"> <input
						type="file" class="file" id="profilePic" name="profilePic"
						style="display: none" name="thumbnail"> Upload Profile
						Picture
					</label> <input type="hidden" id="imgText" name='imgText'>
				</form>
				<br>
				<center>
					<img ng-src="{{imagePath}}{{profile.profilePic}}"
						id="img_profilePic_src" style="max-width: 100px">
				</center>
			</div>
			<input type="text" ng-model="profile.profilePic" id="img_profilePic"
				class="form-control" name="profilePic" style="display: none"
				placeholder="Post Image URL">

		</fieldset>
	</div>
</div>
<script>
	EL("profilePic").addEventListener("change", readFile, false);
	$(document).on('keydown', '#uniqueName', function(e) {
		if (e.keyCode == 32)
			return false;
	});
	$(function() {

		$("#dob").datepicker({
			changeMonth : true,
			changeYear : true,
			defaultDate : '01/01/1980'
		});
		$("#dob").datepicker("option", "dateFormat", "dd/mm/yy");
	});
</script>