<style>
.footer {
	position: fixed;
	left: 0px;
	bottom: -20px;
	height: 75px;
	width: 100%;
	background: transparent;
	color: #2856b6;
	/* 	text-align: center; */
	padding-top: 5px;
}

.footer-btn {
	font-size: 18px;
	color: white;
	/* 	line-height: 1.5em; */
}

.footer .btn-link {
	color: #2856b6;
}

.footer .btn-link:FOCUS {
	background-color: #2856b6;
	color: #2856b6;
}

.footer .btn-link:HOVER {
	color: black;
}

.footer-top {
	position: absolute;
	height: 70px;
	visibility: hidden;
}

.footerLinks {
	background-color: #e5e5e5;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: 0;
	}
}

/* /* IE 6 */
/* * html .footer { */
/* 	position: absolute; */
/* 	top: expression(( 0 -( footer.offsetHeight)+(document.documentElement.clientHeight? */
/* 		 document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe= */
/* 		 document.documentElement.scrollTop? document.documentElement.scrollTop: */
/* 		 document.body.scrollTop))+'px'); */
/* } */
</style>
<div class="footer-top">This is hidden footer</div>

<div class="container" style="padding: 3%;">
	<hr>
	© 2016 Padaippaligal Ulagam
</div>

<div class="footer table-responsive"
	style="display: none; overflow-y: hidden;"
	ng-controller="postController">
	<center>
		<table style="border: 0" class="table footerLinks">
			<tr>
				<td width="300px" ng-repeat="category in categories"><a
					href="#!/c/{{category.objectId}}" class="btn btn-link footer-btn">{{category.title}}</a>
				</td>
			</tr>
		</table>
	</center>
</div>