<style>
.icon-bar {
	background-color: white;
}

.tcMenuLinks {
	background-color: #5858FA;
	color: white;
	border: 2px solid black;
}

.tblBtn:HOVER {
	background-color: #2856b6;
}

.tblBtn {
	border-bottom: 1px solid #2856b6;
	line-height: 10px;
}

.footer-btn {
	width: 100%
}

.footer-btn:HOVER {
	background-color: #2856b6;
	color: white;
}

.nav>li>a {
	color: white;
}

.nav>li>a:FOCUS {
	color: red;
}

.nav>li>a:HOVER {
	background-color: transparent;
	color: red;
}

@media only screen and (max-width: 767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 0px;
	}
}
</style>
<nav class="navbar navbar-fixed-top is-visible">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><b><img src="logo.png"
					style="height: 40px"></b></a>

		</div>
		<div class="navbar-collapse collapse"
			id="bs-example-navbar-collapse-1" aria-expanded="false"
			style="height: 1px;">
			<ul class="nav navbar-nav">
				<li><a style="" href="#/creators">Creators</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a target="blank" style="" href="my/">Login</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="firstContainer">
	<div class="tc-menu table-responsive" style="overflow-y: hidden;"
		ng-controller="postController">
		<center>
			<table style="border: 0" class="table tcMenuLinks">
				<tr>
					<td class="tblBtn" width="300px"><center>
							<a style='font-size: 13px' href="#/"
								class="btn btn-link footer-btn"><b>Home</b></a>
						</center></td>
					<td class="tblBtn" width="300px" ng-repeat="category in categories"><center>
							<a style='font-size: 13px' href="#/c/{{category.objectId}}"
								class="btn btn-link footer-btn"><b>{{category.title}}</b></a>
						</center></td>
				</tr>
			</table>
		</center>
	</div>
</div>
<div class="container col-sm-12" ng-controller="commonController">
	<marquee onmouseover="this.stop()" onmouseout="this.start();"
		style="padding-top: 15px; background-color: #F2F2F2; height: 50px">
		Latest: <span ng-repeat="recentStory in recentStories"> <a href="/"
			style="top: 40px;" class="">{{recentStory.title}}</a> |
		</span>
	</marquee>
</div>