<nav class="navbar navbar-fixed-top is-visible">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><b><img src="logo.png"
					style="height: 40px"></b></a>
		</div>
	</div>
</nav>
<div class="firstContainer">
	<div class="tc-menu table-responsive" style="overflow-y: hidden;"
		ng-controller="postController">
		<center>
			<table style="border: 0" class="table tcMenuLinks">
				<tr>
					<td width="300px" ng-repeat="category in categories"><a
						href="#/c/{{category.objectId}}" class="btn btn-link footer-btn">{{category.title}}</a>
					</td>
				</tr>
			</table>
		</center>
	</div>
</div>